
<style>
    .card {
        border: solid 2px #111;
        border-radius: 9px;
        width: 97px;
        height: 152px;
        float:left;
        background-color: #587;
        padding: 3px 3px 3px 3px;
        margin: 3px;

        float:right;
        
    }

    .card .card-interior {
        border: solid 1px #555;
        border-radius: 9px;
        width: 83px;
        height: 138px;
        float:left;
        background-color: teal;
        padding: 3px 3px 3px 3px;
        margin: 3px;
    }

    .card-outline {
        border: dotted 2px #555;
        border-radius: 9px;
        width: 83px;
        height: 138px;
        float: left;
        padding: 3px 3px 3px 3px;
        margin: 3px;
    }



</style>

<div *ngIf="deck.length==0" class="card-outline">
    
</div>

<div *ngIf="deck.length>0" class="card">
    <div  class="card-interior">

    </div>
</div>
